<div class="bg-container">
  <div class="main-container">
    <h1 class="typography">Conoce los planes que tenemos para ti!</h1>
    <div class="cards-container">
      <mat-card class="mini-card typography">
        <mat-card-header class="header">
          <mat-card-title>Semillas verdes</mat-card-title>
          <mat-card-title class="price">$0</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>En el plan gratuito, accederás a las siguientes ventajas:</p>
          <ul>
            <li>Administración de hasta 10 plantas.</li>
            <li>Creación de tres parcelas</li>
            <li>Generación de fechas de fumigación y fertilización de las plantas</li>
            <li>Visualización del índice de vegetación</li>
          </ul>
        </mat-card-content>
        <div class="btn-container">
          <button mat-flat-button color="basic" routerLink="/accounts/login">Adquirir</button>
        </div>
      </mat-card>
      <mat-card class="mini-card typography">
        <mat-card-header class="header center">
          <mat-card-title>Cosecha Dorada</mat-card-title>
          <mat-card-title class="price">$5</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>En el plan Cosecha Dorada, tendrá acceso a las siguientes prestaciones:</p>
          <ul>
            <li>Todo lo que ya ofrecíamos en el plan gratuito</li>
            <li>Gestión ilimitada de plantas</li>
            <li>Creación de parcelas ilimitadas</li>
            <li>Previsión meteorológica</li>
          </ul>
        </mat-card-content>
        <div class="btn-container">
          <button mat-flat-button color="basic" routerLink="/accounts/login">Adquirir</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<!-- </div> -->
